[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/google/protobuf.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/Itseez/opencv.git
[submodule "caffe"]
	path = caffe
	url = https://github.com/intelfx/caffe.git
[submodule "lmdb"]
	path = lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "glog"]
	path = glog
	url = https://github.com/intelfx/glog.git
[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags.git
[submodule "caffe_jni"]
	path = caffe_jni
	url = https://github.com/intelfx/caffe_jni.git
